<!-- We need to bind our loginForm instance to the template form using formGroup -->
<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <!-- We need to bind input to the form control using the formControlName directive -->
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      formControlName="email"
    />
    <div class="text-danger" *ngIf="email?.errors && email?.invalid && email?.touched">
        <div *ngIf="email?.errors?.['required']">Email is required</div>
        <div *ngIf="email?.errors?.['email']">Email is not valid</div>
        <div *ngIf="email?.errors?.['minlength']">Email must be at least 5 characters long</div>
    </div>
  </div>
  <!-- ? means optional chaining. It will return undefined if the property errors does not exists -->
  <pre>{{ email?.errors | json }}</pre>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      fomrControlName="password"
    />

  <div class="text-danger" *ngIf="password?.errors && password?.invalid && password?.touched">
        <div *ngIf="password?.errors?.['required']">password is required</div>
        <div *ngIf="password?.errors?.['password']">password is not valid</div>
        <div *ngIf="password?.errors?.['minlength']">password must be at least 5 characters long</div>
    </div>
      <pre>{{ password?.errors | json }}</pre>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="subscribe" formControlName="subscribe" />
    <label class="form-check-label" for="subscribe">subscribe for our newsletter</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Submit</button>
</div>
</form>
<pre>{{loginForm.value | json}}</pre>